html, body {
    overflow: hidden;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(170, 170, 170);
}

.menu-button {
    background-color:aqua;
    padding-right:8px;
    padding-left:8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin:4px;
    /* opacity: .6; */
}

.menu {
    text-align:left;
    position: absolute;
    left: 10px;
    top:10px;
    float:left;
}

.main-menu {
    padding: 10px;
    border-radius: 10px;
    margin:4px;
    background-color: rgba(95, 176, 180, 0.6);
}

.main-menu P{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(95, 176, 180);
}

.change-pixel BUTTON{
    width:120px;
}

.change-pixel #metal{
    background-color: #909090;
}
.change-pixel #blue{
    background-color: #5457f7;
}
.change-pixel #green{
    background-color: #32a852;
}

/* #canvas-screen {
} */